apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-env
spec:
  refreshInterval: "0"
  secretStoreRef:
    name: azure-kv-store
    kind: ClusterSecretStore
  data:
    - secretKey: COMMAFEED_DB_PASSWORD
      remoteRef:
        key: commafeed-db-password
